*{
    text-align: center;
}

table{
    align:center;
    animation: alternate-reverse;
    width:70%;
    height:40%
}

img{
    border-radius: 10px;
}

a{
    color:green;
    text-decoration:none;
}

body{
    background-image: url("IMG_0177.jpg");
    background-size: cover ;
        }
